<h1>Sobre</h1>
<p>
  Esta aplicação foi desenvolvida pelos alunos Clarissa Lima Borges e Felipe de 
  Oliveira Hargreaves, como projeto final para a disciplina de Orientação a
  Objetos do curso de Engenharia de Software da Universidade de Brasília.
</p>
