<li>
  <div class="group_block">
    <%= participant.name %>
    <div class="boom_button">
      <%= link_to 'x', participant, method: :delete, data: { confirm: 'Delete this participant?' }, title: "Delete: #{participant.name}", class: [:btn, 'btn-xs', 'btn-danger'] %>
    </div>
  </div>
</li>