<h1>Sorteio do amigo oculto!</h1>

<p>
  Olá, <%= @participant.name %>! 
</p>

<p>
  Você está participando do amigo oculto do grupo <%= @group.name %>.
  Você tirou <%= @giftee.name %>. Boas festas!
</p>

